@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background: $gray-50;
  color: $gray-900;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-4;
}
